<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boas vindas</title>
    <style>
      @font-face {
        font-family: 'Agency';
        src: url('../font/agency_fb.ttf');
      }
      * { margin: 0; padding: 0; box-sizing: border-box; } 

      section {
        background-color:#222222; 
        padding: 50px 33px;   
      } 
      #logo { 
        width: 100%; 
      } 
      #logo img 
      { 
        display: block; 
        margin: 0 auto;
      }
      #warning  {
        font-family: "Agency";
        color: white;
        font-size: 24px;
        font-weight: bold;
      }
      .reset-token span{
        display: block;
        font-size: 16px !important;
      }
      p {
        color: white;
      }
    </style>
  </head>
  <body>
    <section >
            <div id="logo">
                <img src="cid:logo" alt="point da larica" />
            </div>
            <div id="warning">
                <p class="message">
                   {{name}}, Segue abaixo seu token para reset de senha:
                </p>
                <p class="reset-token">
                    <span id="token">Token: {{token}}</span>
                </p>
            </div>
            <p>Observação: O token é util por 1 dia. Depois disso ficará inválido</p>
    </section>
  </body>
</html>